VisualElement {
}

.source-type-field__selected {
    width: 12px;
    height: 12px;
}

.source-type-field__indicator {
    width: 12px;
    height: 16px;
    background-image: resource('d_scrolldown_uielements@2x');
}

.source-type-field__button {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.source-type-field {
    height: 100%;
}

.generic-dropdown {
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(18, 18, 18);
    overflow: hidden;
}

.generic-dropdown__list-view__element VisualElement {
    width: 16px;
    height: 16px;
    align-self: center;
}

.generic-dropdown__list-view__element:hover {
    background-color: rgb(44, 93, 135);
}

.odd {
    background-color: rgb(85, 85, 85);
}

.even {
    background-color: rgb(72, 72, 72);
}

.value {
    -unity-background-image-tint-color: rgb(178, 106, 247);
    background-image: resource('d_PreMatCylinder@2x');
}

.return {
    -unity-background-image-tint-color: rgb(245, 80, 51);
    background-image: resource('d_Import@2x');
}

.input {
    -unity-background-image-tint-color: rgb(65, 242, 65);
    background-image: resource('Download-Available@2x');
}

.any-value-field__value-field {
    flex-grow: 1;
}

.any-value-field {
    flex-grow: 1;
}

.parameter-reference-field__source-type-field {
    height: 100%;
}

.parameter-reference-field__any-value-field {
    flex-grow: 1;
    margin-right: 8px;
}

.parameter-reference-field__select-source__button {
    flex-grow: 1;
    margin-right: 8px;
}

.source-type-field__button {
    height: 100%;
}

.any-value-field__value-field__bool {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 0;
}

.source-type-field__button {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.scripting-action-field > * {
    border-color: rgb(32, 32, 32);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}

.scripting-action-field__header {
    background-color: rgb(53, 53, 53);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    justify-content: space-between;
}

.scripting-action-field__add-remove-container {
    flex-direction: row;
}

.add {
    background-image: resource('d_Toolbar Plus@2x');
}

.remove {
    background-image: resource('d_Toolbar Minus@2x');
}

.scripting-action-field__body {
    background-color: rgb(70, 70, 70);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-width: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.scripting-action-field__action-declaration > Button {
    flex-grow: 1;
    flex-shrink: 1;
}

.scripting-action-field__indicator {
    width: 12px;
    height: 16px;
    flex-shrink: 0;
    background-image: resource('d_scrolldown_uielements@2x');
}

.scripting-action-field__selected {
    -unity-text-align: middle-left;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
}

.action-container {
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
}

.indicator {
    width: 12px;
    height: 16px;
    flex-shrink: 0;
    background-image: resource('d_scrolldown_uielements@2x');
}

.modifier-reference-field__button {
    flex-grow: 1;
}

.modifier-element {
    margin-right: 0;
    padding-right: 10px;
    padding-left: 3px;
}

.light-icon {
    width: 16px;
    height: 16px;
    background-image: resource('d_TreeEditor.Wind On');
}

.action-foldout .unity-foldout__content {
    margin-left: 0;
}

.any-value-field__value-field.unity-base-field__inspector-field {
    flex-shrink: 1;
}
